@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;0,800;0,900;1,200;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}


/*COMIENZO DE ESTILOS DEL HEADER*/

nav {
    display: flex;
    background-color: #37bbed;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    
}

.logo-header{
    padding-left: 18%;
    margin-left: 2em;
    margin-right: 0.5em;
}

.vot-ar-header {
    font-size: 20px;

}

nav h3 {
    color: white;
    font-style: bold;
    font-weight: 800;

}

/*FIN DE ESTILOS DEL HEADER*/


/*COMIENZO DE ESTILOS DEL MAIN*/

.background-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../img/elecciones-background.jpg');
    background-position: center center;
    background-size: cover;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.background-section h2 {
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
    font-weight: 700;
    line-height: 1.1;
    font-size: 3em;
}

.background-section h5 {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

@media (max-width:700px) {
    .background-section h2 {
        font-size: 2.5em;
    }
}

@media (max-width:600px) {
    .background-section h2 {
        font-size: 2em;
    }

    .background-section h5 {
        font-size: 0.8em;
    }
}

@media (max-width:420px) {
    .background-section h2 {
        font-size: 1.6em;
    }

    .background-section h5 {
        font-size: 0.7em;
    }
}

.votacion-2023-informacion {
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.1rem;
}

.votacion-2023-parrafo p {
    margin-bottom: 1.5rem;
    text-align: justify;
}

.preparacion-votacion {
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}

.preparacion-votacion h3 {
    font-size: 3rem;
}

#boton-pre-votacion{
    margin: 0 auto;
    margin-top: 5rem;
}

#boton-pre-votacion a{
    text-decoration: none;
    padding: 1rem;
    color: white;
    border: 1px solid #37bbed;
    border-radius: 10%;
    font-size: 1rem;
    background-color: #37bbed;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#boton-pre-votacion a:hover {
    background-color: white;
    color: black;
}

.fecha-votaciones {
    width: 60%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fecha-votaciones > div{
    text-align: center;
}

.card-fecha-1 {
    width: 30%;
}

.card-fecha-1 i {
    font-size: 5rem;
}

.card-fecha-1 h4, .card-fecha-2 h4 {
    font-size: 1.5rem;
}

.card-fecha-1 p, .card-fecha-2 p{
    font-size: 1rem;
}

.card-fecha-2 {
    width: 30%;
}

.card-fecha-2 i {
    font-size: 5rem;
}

@media (max-width:950px) {
    .fecha-votaciones {
        width: auto;
    }
}

@media (max-width:900px) {
    .fecha-votaciones {
        flex-direction: column;
    }
    .card-fecha-1 {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.background-section-candidatos {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 18%;
    font-size: 0.8rem;
}

.candidatos-header h3 {
    font-weight: 200;
}

.tpinfo {
    text-align: center;
}

.informacion-postulantes{
    margin: 0 auto;
    text-align: center;
}

.cards-postulantes {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 80%;
    justify-items: center;
}

.cards-postulantes > div {
    border-radius: 1em;
    padding: 10%;
    font-size: 1.5em;
    box-shadow: 0 0 2em -1em black;
    width: 60%;
    text-align: center;
}

.cards-postulantes > div:hover {
    transform: translate(-30px,-30px);
    -webkit-transform: translate(-30px,-30px);
    -moz-transform: translate(-30px,-30px);
    transition: all 1s;
}


.cards-postulantes a{
    text-decoration: none;
    color: black;
}

.cards-postulantes h4 {
    font-size: 1.6vh;
    font-weight: 600;
}


.presidente-1 img,
.presidente-2 img,
.presidente-3 img,
.presidente-4 img,
.presidente-5 img,
.presidente-6 img,
.presidente-7 img{
    width: 50%;
    border-radius: 5%;
}


@media (max-width:1024px) {
    .cards-postulantes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:768px) {
    .cards-postulantes {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*COMIENZO DE ESTILOS DEL FOOTER*/

footer {
    background-color: #37bbed;
    padding: 1em;
}

.footer-contacto-logo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

@media (max-width: 700px) {
    .footer-contacto-logo {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

.image-footer {
    text-align: center;
    justify-content: center;
    margin: auto 0 0 0;
}

.image-footer h3 {
    font-size: 3em;
    color: white;
    font-style: oblique;
    font-weight: 800;
}

.footer-contacto {
    justify-content: center;
    text-align: center;
}

#nombre, #mail, #text-area{
    width: 18em;
    border-radius: 17px;
    background: rgba(0,0,0,0.05);
    border: none;
    font-size: 17px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.color-placehold::placeholder{
    color:white;
}

.footer-sin-form {
    width: 70%;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 40px;
}

.image-footer-sin-form p{
    font-size: 1rem;
}
.image-footer-sin-form h3,
.info-nuestra h3,
.direccion h3
{
    font-size: 1.5rem;
    position: relative;      
}

.image-footer-sin-form h3::before,
.info-nuestra h3::before,
.direccion h3::before
 {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: black;
}

.image-footer-sin-form li {
    list-style: none;
    display: inline-block;
}

.info-nuestra {
    margin-left: 3rem;
}

.info-nuestra ul,
.direccion ul
{
    margin-block-start: 0;
    padding-inline-start: 0px;
}
.info-nuestra li,
.direccion li
{
    list-style: none;
    margin-bottom: 0.5rem;
}

.info-nuestra li a,
.direccion li a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

@media (max-width:810px) {
    .footer-sin-form {
        grid-template-columns: 2fr;
    }
    .info-nuestra {
        margin-left: 0;
    }
    
}

@media (max-width:900px) {
    .info-nuestra {
        margin-left: 0;
    }
    .footer-sin-form {
        width: 90%;
    }
}

/*FIN DE ESTILOS DEL FOOTER*/

/*ESTILOS FAQ*/

#faq{
    text-align: center;
    justify-content: center;
    margin: auto 0 0 0;
    font-size: 35px;
    background-color: white;
    margin:0 auto;
}

.background-faq{
    /* background-image: url('../img/elecciones-background.jpg'); */
}

.question-container {
    margin-bottom: 10px;
  }
  
  .question {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    color: white;
    border: 1px solid #37bbed;
    font-size: 20px;
    background-color: #37bbed;
    flex-direction: column;
    width: 50%; 
    /* box-shadow: 27px 38px 15px -12px rgba(0,0,0,0.2); */
    border-radius: 15px;
    padding: 1.7%;
    background-position: center;
    background-size: cover;
    margin:0 auto;
  }
  
  .question i {
    transition: transform 0.3s;
  }
  
  .question.active i {
    transform: rotate(90deg);
  }
  
  .answer {
    display: none;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    font-size: 17px;
    line-height: 1.5;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .answer.show {
    display: block;
  }


/*FIN DE ESTILOS FAQ*/



/* ESTILOS FORMULARIO */
.formulario-datos {
    display: flex;
    width: 35%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 3%; 
}

.formulario-datos form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    box-shadow: 27px 38px 15px -12px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../img/elecciones-background.jpg');
    background-position: center center;
    background-size: cover;
    
}

.formulario-datos input {
    border: none;
    width: 70%;
    margin-left: 10px;
    font-size: 0.8rem;
}

.input-style {
    display: flex;  
    margin: 10px;
    width: 70%;
    height: 2rem;
    align-items: center;
    justify-content: center ;
    background-color: white;
    border-radius: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border: none;   
}
.formulario-datos input:focus {
    outline-width: 0;
}

#submit{
    border-radius: 15px;
    margin-top: 30px;
    margin-left: -5px;
    background-color: #3bb8ea;
    color: white;
    width: 70%;
}

.yaVotasteApagado h4{
    color: red;
    font-size: 1rem;
    font-weight: 500;
    display: none;
}
.yaVotasteEncendido h4{
    color: red;
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width:1200px) {
    .formulario-datos {
        width: 50%;
    }
}

@media (max-width:1024px) {
    .formulario-datos {
        width: 60%;
    }
}

@media (max-width:768px) {
    .formulario-datos {
        width: 70%;
    }
}

@media (max-width:600px) {
    .formulario-datos {
        width: 100%;
    }
    .input-style,
    #submit
     {
        width: 70%;
    }
}


@media (max-width:420px) {
    .input-style,
    #submit
     {
        width: 100%;
    }
}


.tablas-resultados {
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px 0px;
}

