* {
    font-family: "Encode Sans",Arial,sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

h1{
    
    padding: 5%;
    margin: 1px;
    color: black;
    justify-content: center ;
    background-color: #37bbed;
    display: flex
    
}

footer {
    background-color: #37bbed;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

@media (max-width: 700px) {
    footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

.image-footer {
    text-align: center;
    justify-content: center;
    margin: auto 0 0 0;
}

.image-footer h3 {
    font-size: 3em;
    color: white;
    font-style: oblique;
    font-weight: 800;
}

.footer-contacto {
    justify-content: center;
    width: 20em;
}

input::placeholder, textarea::placeholder {
    color: rgb(236, 236, 236);
}

#nombre {
    width: 18em;
    border-radius: 17px;
    background: rgba(0,0,0,0.05);
    border: none;
    font-size: 17px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}

#mail {
    width: 18em;
    border-radius: 17px;
    background: rgba(0,0,0,0.05);
    border: none;
    font-size: 17px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#text-area{
    width: 18em;
    border-radius: 17px;
    background: rgba(0,0,0,0.05);
    border: none;
    font-size: 17px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 3px;
}

#submit{
    width: 19.5em;
    height: 2em;
    margin: 20px auto;
    border-radius: 10px;
    border: none;
    background: #0545a2;
    color: white;
    font-size: 1em;
}



.copyright {
    text-align: center;
    grid-area: "copyright-footer";
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0;
    color: rgb(65, 65, 65);
}