* {
    margin: 15px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto
}

h1{
    font-size:48px;
    text-align: center;
}

.buttondiv {
    text-align: center;
   
}

#votebutton{
    display: inline-block;
    background-color:mediumturquoise;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 48px;
    font-weight: bold;
    cursor:pointer
}

#votebutton:hover {
    transition-duration: 0.1s;
    background-color: white;
    color:mediumturquoise;
    border: 2px solid mediumturquoise;
}

.enlaces{
    margin:15px;
    padding: 15px;
    background-color: mediumturquoise;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}