<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/6c5c1fa8c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.css"/>
    <link rel="stylesheet" href="/TrabajoFront/static/css/style.css">
</head>
<body>
  <header>
    <nav class="nav-database">
        <div class="logo-header">
            <a href="../index.html"><img src="../static/img/favicon-32x32.png" alt=""></a>
        </div>
        <div class="vot-ar-header">
            <h3>
                VOT.AR Data
            </h3>
        </div>
        <div class="logo-gobierno"> 
            <a href="../index.html"><img src="../static/img/escudo_800_900 (2).ico" alt=""></a>
        </div>
        <div class="argentina-header">
            <h3>
                Argentina.gob.ar
            </h3>
        </div>
    </nav>
  </header>
  
  <main>
    <div class="altas" id="app">
      <form>
        <h1>Alta de Candidatos a Presidente</h1><br>
        <p>
          <input type="text" name="presidente" placeholder="Presidente:" class="color-placehold" v-model="presidente">
        </p>
        <p>
          <input type="text" name="vicepresidente" placeholder="Vicepresidente:" class="color-placehold" v-model="vicepresidente">
        </p>
        <p>
          <input type="text" name="partido" placeholder="Partido:" class="color-placehold" v-model="partido">
        </p>
        <p>
          <input type="text" name="boleta" placeholder="Boleta:" class="color-placehold" v-model="boleta">
          <img width="100" :src="boleta" alt="">
        </p>

        <button type="button" class="btn btn-success" id="submit" v-on:click="grabar()">Grabar</button>
      </form>


    </div>
  </main>
      </main>
      </div>
    <footer>
        <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/TrabajoFront/static/js/presidentes.js"></script>
</body>
</html>