<!doctype html>
<html lang="en">

<head>
  <title>Candidato Nuevo</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/css/style.css">
  </head>

<body>

  <header>
    <nav>
        <div class="logo-header">
            <a href="../index.html"><img src="../static/img/favicon-32x32.png" alt=""></a>
        </div>
        <div class="vot-ar-header">
            <h3>
                VOT.AR Data
            </h3>
        </div>
        <div class="logo-gobierno"> 
            <a href="../index.html"><img src="../static/img/escudo_800_900 (2).ico" alt=""></a>
        </div>
        <div class="argentina-header">
            <h3>
                Argentina.gob.ar
            </h3>
        </div>
    </nav>
  </header>

  <main>
    <div class="altas" id="app">
      <form>
        <h1>Alta de Candidatos a Presidente</h1><br>
        <p>
          <input type="text" name="presidente" placeholder="Presidente:" class="color-placehold" v-model="presidente">
        </p>
        <p>
          <input type="text" name="vicepresidente" placeholder="Vicepresidente:" class="color-placehold" v-model="vicepresidente">
        </p>
        <p>
          <input type="text" name="partido" placeholder="Partido:" class="color-placehold" v-model="partido">
        </p>
        <p>
          <input type="text" name="boleta" placeholder="Boleta:" class="color-placehold" v-model="boleta">
          <img width="100" :src="boleta" alt="">
        </p>

        <button type="button" class="btn btn-success" id="submit" v-on:click="grabar()">Grabar</button>
      </form>


    </div>
  </main>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="../static/js/database/main.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
  <script src="../static/js/database/productos.js"></script>
</body>

</html>