<!doctype html>
<html lang="en">

<head>
    <title>Base de Candidatos a Presidente</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
</head>

<body>
    <header>
        <nav class="nav-database">
            <div class="logo-header">
                <a href="../index.html"><img src="../static/img/favicon-32x32.png" alt=""></a>
            </div>
            <div class="vot-ar-header">
                <h3>
                    VOT.AR Data
                </h3>
            </div>
            <div class="logo-gobierno"> 
                <a href="../index.html"><img src="../static/img/escudo_800_900 (2).ico" alt=""></a>
            </div>
            <div class="argentina-header">
                <h3>
                    Argentina.gob.ar
                </h3>
            </div>
        </nav>
      </header>

    <main><br><br>
        <div id="app" class="container">
            <h1>Candidatos</h1>
            <br>
            <a class="btn btn-primary" href="../templates/producto_nuevo.html">Nuevo</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Presidente</th>
                                    <th scope="col">Vicepresidente</th>
                                    <th scope="col">Partido</th>
                                    <th scope="col">Boleta</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" v-for="presidente in presidente">
                                    <td scope="row">{{presidente.id}}</td>
                                    <td>{{presidente.presidente}}</td>
                                    <td>{{presidente.vicepresidente}}</td>
                                    <td>{{presidente.partido}}</td>
                                    <td>
                                        <img width="60" :src="presidente.boleta" :alt="presidente.presidente">
                                    </td>
                                    <td>
                                        <a class="btn btn-primary"
                                            :href="'./producto_editar.html?id='+ presidente.id">Editar</a>
                                        <button type="button" class="btn btn-danger"
                                            v-on:click="eliminar(presidente.id)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main><br><br>
    <script>
        <!--Link de Bootstrap-->
        src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity = "sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin = "anonymous"</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="../static/js/database/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="../static/js/database/productos.js"></script>
</body>

</html>